<nav class="nav-bar">
  <div class="nav-container">
    <h2 class="nav-brand"><a href="#/home">Portfolio</a></h2>
    <ul class="nav-menu">
      <!-- ko foreach: menuItems -->
      <li data-bind="css: { active: isActive }">
        <a data-bind="
          text: label,
          attr: { href: '#/' + $data.path },
          click: function() { $parent.navigate('/' + $data.path); }
        "></a>
      </li>
      <!-- /ko -->
      <li> 
        <a href="assets/misc/Resume_TaylorPoe_2025.pdf" target="_blank">Open Resume</a>
      </li>
    </ul>
  </div>
</nav>
